/* Main styles for 159.352 Assignment 1
Author: JW */

body {
  background-color: #444;
  color: white;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

form {
  margin: 20px;
}

#plot img {
  border: 6px outset white;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
  }

input {
    margin: 2px 0;
}

table {
  border-collapse: collapse;
  margin: 15px 0;
}

td, th {
  border: 1px solid #666;
  min-width: 120px;
  padding: 2px;
}

#chartContainer {
  height: 300px;
  width: 100%;
}